<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pagos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pagos.Properties.Settings.SGUVConnectionString" connectionString="Data Source=192.168.2.100;Initial Catalog=SGUV;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Pagos.Properties.Settings>
            <setting name="Color1" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Pagos.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="FechaDesde"  value="20-10-2014"/>
    <add key="FechaHasta"  value="20-10-2014"/>
  </appSettings>
</configuration>